<mat-tab-group color="warn" backgroundColor="primary" mat-align-tabs="center" mat-stretch-tabs [style]="pokeBackground">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>catching_pokemon</mat-icon> Pokedex
        </ng-template>
        <div class="pokedexview">
            <app-pokedexview></app-pokedexview>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>add</mat-icon> Add Pokemon
        </ng-template>
        <div class="addpokemon">
            <app-addpokemon></app-addpokemon>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>person</mat-icon> IKazart
        </ng-template>
        <div class="profile">
            <app-profile></app-profile>
        </div>
    </mat-tab>
</mat-tab-group>