mat-tab-group {
  background-color: black;
  background-image: url("https://assets.pokemon.com/assets/cms2/img/pokedex/full/384.png");
  background-size: contain;
  height: 100%;
}

.profile,
.pokedexview,
.addpokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
