<main>
    <form class="pokperfil-form" (ngSubmit)="changePokperfil()" #pokPerfilForm="ngForm">
        <div class="img" *ngIf="pokPerfilExists">
            <img [src]="pokPerfilImage">
        </div>
        <p class="pokperfil-pokemon" *ngIf="pokPerfilExists">#{{user.pokPerfil}} - {{pokPerfilName}}</p>
        <mat-form-field appearance="outline">
            <mat-label>Profile Pokemon</mat-label>
            <input matInput [(ngModel)]="innerPokPerfil" name="innerPokPerfil" type="text">
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Change profile
            Pokemon</button>
    </form>
    <mat-divider></mat-divider>
    <form class="user-form">
        <p class="user-title">Change Username</p>
        <div class="user-input">
            <mat-form-field appearance="outline">
                <mat-label>New Username</mat-label>
                <input matInput name="newUsername">
            </mat-form-field>
            <button mat-raised-button color="accent">Change Username</button>
        </div>
    </form>
    <mat-divider></mat-divider>
    <form class="password-form">
        <p class="password-title">Change Password</p>
        <div class="password-div">
            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput name="newPassword">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Current Password</mat-label>
                <input matInput name="currentPassword">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm new Password</mat-label>
                <input matInput name="cNewPassword">
            </mat-form-field>
            <button mat-raised-button color="accent">Change Password</button>
        </div>
    </form>
    <mat-divider></mat-divider>
    <form class="logout-form">
        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </form>
</main>