<main>
    <div class="top-left-div">
        <mat-form-field appearance="outline">
            <mat-label>Search Pokemon</mat-label>
            <input matInput (keyup)="searchPokemon($event)" #input>
        </mat-form-field>
        <button mat-button color="basic">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <div class="top-right-div">
        <mat-form-field appearance="fill">
            <mat-label>Order By</mat-label>
            <mat-select value="Number">
                <mat-option value="Number">Number</mat-option>
                <mat-option value="Name">Name</mat-option>
                <mat-option value="HP">HP</mat-option>
                <mat-option value="Attack">Attack</mat-option>
                <mat-option value="Total Stats">Total Stats</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="bottom-left-div">
        <table mat-table [dataSource]="tableSource">
            <ng-container matColumnDef="imagem">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" (click)="openDialog(element)">
                    <img [src]="getPokeImage(element.numero)" alt="Error">
                </td>
            </ng-container>
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef> Number </th>
                <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.numero}} </td>
            </ng-container>
            <ng-container matColumnDef="regiao">
                <th mat-header-cell *matHeaderCellDef> Region </th>
                <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.regiao}} </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn" (click)="deletePoke(element.numero)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="trhover"></tr>
            <tr *matNoDataRow>
                <td colspan="4" style="padding: 10px 0 0 10px;">No Pokemon found!</td>
            </tr>
        </table>
    </div>
    <div class="bottom-right-div">
        <div class="filter-div">
            <h3 class="filter-title">Filter</h3>
            <mat-form-field appearance="outline">
                <mat-label>Region</mat-label>
                <mat-select [(ngModel)]="innerRegion" (selectionChange)="filter()">
                    <mat-option value="Any">Any</mat-option>
                    <mat-option value="Kanto">Kanto</mat-option>
                    <mat-option value="Johto">Johto</mat-option>
                    <mat-option value="Hoenn">Hoenn</mat-option>
                    <mat-option value="Sinnoh">Sinnoh</mat-option>
                    <mat-option value="Unova">Unova</mat-option>
                    <mat-option value="Kalos">Kalos</mat-option>
                    <mat-option value="Alola">Alola</mat-option>
                    <mat-option value="Galar">Galar</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select [(ngModel)]="innerType" (selectionChange)="filter()">
                    <mat-option value="Any">Any</mat-option>
                    <mat-option value="Normal">Normal</mat-option>
                    <mat-option value="Fire">Fire</mat-option>
                    <mat-option value="Fighting">Fighting</mat-option>
                    <mat-option value="Water">Water</mat-option>
                    <mat-option value="Flying">Flying</mat-option>
                    <mat-option value="Grass">Grass</mat-option>
                    <mat-option value="Poison">Poison</mat-option>
                    <mat-option value="Electric">Electric</mat-option>
                    <mat-option value="Ground">Ground</mat-option>
                    <mat-option value="Psychic">Psychic</mat-option>
                    <mat-option value="Rock">Rock</mat-option>
                    <mat-option value="Ice">Ice</mat-option>
                    <mat-option value="Bug">Bug</mat-option>
                    <mat-option value="Dragon">Dragon</mat-option>
                    <mat-option value="Ghost">Ghost</mat-option>
                    <mat-option value="Dark">Dark</mat-option>
                    <mat-option value="Steel">Steel</mat-option>
                    <mat-option value="Fairy">Fairy</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox color="warn" [(ngModel)]="innerMega" (ngModelChange)="filter()">Mega-Evolutions Only
            </mat-checkbox>
            <mat-checkbox color="warn" [(ngModel)]="innerLegendary" (ngModelChange)="filter()">Legendaries Only
            </mat-checkbox>
        </div>
        <div class="qtde-pokemon-div">
            <mat-divider></mat-divider>
            <h3>Pokemons in Pokedex:</h3>
            <div class="qtde-regions">
                <p class="nregion">Kanto: {{nRegiao[0]}}</p>
                <p class="nregion">Johto: {{nRegiao[1]}}</p>
                <p class="nregion">Hoenn: {{nRegiao[2]}}</p>
                <p class="nregion">Sinnoh: {{nRegiao[3]}}</p>
                <p class="nregion">Unova: {{nRegiao[4]}}</p>
                <p class="nregion">Kalos: {{nRegiao[5]}}</p>
                <p class="nregion">Alola: {{nRegiao[6]}}</p>
                <p class="nregion">Galar: {{nRegiao[7]}}</p>
            </div>
            <p class="oqtde">Lengadaries: {{nLegendaries}}</p>
            <p class="oqtde">Nation Dex: {{totalPokemons}}</p>
        </div>
    </div>
</main>