<main>
    <div class="top-left-div">
        <mat-form-field appearance="outline">
            <mat-label>Search Pokemon</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-button color="basic">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <div class="top-right-div">
        <mat-form-field appearance="fill">
            <mat-label>Order By</mat-label>
            <mat-select value="Number">
                <mat-option value="Number">Number</mat-option>
                <mat-option value="Name">Name</mat-option>
                <mat-option value="HP">HP</mat-option>
                <mat-option value="Attack">Attack</mat-option>
                <mat-option value="Total Stats">Total Stats</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="bottom-left-div">
        <table mat-table [dataSource]="tablePokes">
            <ng-container matColumnDef="imagem">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" (click)="openDialog(element)">
                    <img [src]="getPokeImage(element.numero)" alt="Error">
                </td>
            </ng-container>
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef> Number </th>
                <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.numero}} </td>
            </ng-container>
            <ng-container matColumnDef="regiao">
                <th mat-header-cell *matHeaderCellDef> Region </th>
                <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.regiao}} </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn" (click)="deletePoke(element.numero)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="trhover"></tr>
        </table>
    </div>
    <div class="bottom-right-div">
        <div class="filter-div">
            <mat-form-field appearance="outline">
                <input matInput>
            </mat-form-field>
        </div>
        <div class="qtde-pokemon-div">
            <mat-divider></mat-divider>
            <h3>Pokemons in Pokedex:</h3>
            <div class="qtde-regions">
                <p class="nregion">Kanto: 34</p>
                <p class="nregion">Johto: 2</p>
                <p class="nregion">Hoenn: 23</p>
                <p class="nregion">Sinnoh: 14</p>
                <p class="nregion">Unova: 12</p>
                <p class="nregion">Kalos: 6</p>
                <p class="nregion">Alola: 27</p>
            </div>
            <p class="oqtde">Lengadaries: 2</p>
            <p class="oqtde">Nation Dex: {{34+2+23+14+12+6+27}}</p>
        </div>
    </div>
</main>