main {
  padding: 20px 40px;
  border: none;
  border-radius: 30px;
  background-color: lightslategray;
  display: grid;
  grid-template: 1fr 5fr / 3fr 1fr;
  justify-content: center;
  column-gap: 5%;
  max-height: 540px;
}

div {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/*TOP LEFT DIV*/
.top-left-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
}

.top-left-div,
.bottom-right-div {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.top-left-div mat-form-field {
  width: 100%;
}

/*TOP RIGHT DIV*/

/*BOTTOM LEFT DIV*/

.bottom-left-div {
  overflow: auto;
  margin-top: 10px;
}

table {
  width: 100%;
  background-color: lightslategray;
}

.trhover:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
}

.mat-column-imagem {
  text-align: start;
  width: 10%;
}

.mat-column-nome {
  text-align: center;
  width: 28%;
}

.mat-column-numero {
  text-align: center;
  width: 26%;
}

.mat-column-regiao {
  text-align: center;
  width: 26%;
}

.mat-column-edit {
  text-align: end;
  width: 10%;
}

/*Scrollbar layout*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: radial-gradient(
    circle,
    lightslategray 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border-radius: 30px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/*BOTTOM RIGHT DIV*/

.bottom-right-div {
  display: grid;
  grid-template-rows: 3fr 2fr;
  gap: 3px;
}

mat-divider {
  padding: 0;
  margin: 3px 0;
}

/*Filter Div*/

/*Qtde Pokemon Div*/

.bottom-right-div p,
.bottom-right-div h3 {
  margin: 1px 0;
}

h3 {
  font-size: 18px;
}

.qtde-regions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5px;
}

.oqtde {
  font-weight: bold;
}
