<main>
    <div class="top-div">
        <form class="byName" (ngSubmit)="findPokemonByName()" #search="ngForm">
            <mat-form-field appearance="outline">
                <mat-label>Search by name</mat-label>
                <input matInput [(ngModel)]="innerSearch" name="input" (keyup)="findPokemonByName()">
            </mat-form-field>
            <button mat-button color="basic" type="submit">
                <mat-icon>search</mat-icon>
            </button>
        </form>
        <button mat-raised-button color="primary" [disabled]="haveAll" (click)="findRandomPokemon()">Search for
            random</button>
    </div>
    <mat-divider></mat-divider>
    <div class="bottom-div" *ngIf="existsPokemon else noPkmn">
        <img [src]="image">
        <mat-card class="poke-info">
            <p>Nº:</p>
            <p>#{{pokemon.numero}}</p>
            <p>Name:</p>
            <p>{{pokemon.nome}}</p>
            <p>Region:</p>
            <p>{{pokemon.regiao}}</p>
            <p class="alreadyHave" *ngIf="alreadyHave">You already have this pokemon!</p>
        </mat-card>
    </div>
    <ng-template class="bottom-div" #noPkmn>
        <h3>No Pokemon Found!</h3>
    </ng-template>
    <button class="add" mat-raised-button color="accent" [disabled]="!existsPokemon || alreadyHave"
        (click)="addPokemon()">Add
        Pokemon</button>
</main>