* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*Dialog Box Style*/
.custom-dialog-container,
mat-dialog-container {
  padding: 0 !important;
  margin: 0 !important;
  width: 900px;
  height: 650px;
}
